p {
  color: black;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: white
}

.container {
  display: flex;
}

.heading {
  border: 1px solid #000;
  text-align: center;
}

.main {
  padding-left: 30px;
  min-width: 75%;
  background-image: url("https://i.etsystatic.com/11598164/r/il/871f98/937334646/il_794xN.937334646_tr70.jpg");
  font-color: white;
  display: block;
  float: right;
}

.maintext {
    margin: 30px;
}

.nav {
  background-color: rgb(204,231,227);
  max-width: 15%;
  min-width: 200px;
  flex: 1;
  padding: 30px;
}
