p {
  color: black;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: white
}

.container {
  display: flex;
}

.heading {
  border: 1px solid #000;
  text-align: center;
  padding: 30px;
}

.main {
  padding-left: 30px;
  min-width: 75%;
}

.nav {
  background-color: rgb(204,231,227);
  max-width: 25%;
  min-width: 140px;
  flex: 1;
  padding: 30px
}
