p {
  color: black;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: white
}

.container {
  display: flex;
}

.heading {
  border: 1px solid #000;
  text-align: center;
}

.main {
  padding-left: 30px;
  min-width: 75%;
  background-image: url("https://cdn.pixabay.com/photo/2015/06/02/15/31/watercolor-795161_960_720.jpg");
  font-color: white;
  display: block;
  float: right;
}

.maintext {
    margin: 30px;
}

.nav {
  background-color: rgb(204,231,227);
  max-width: 15%;
  min-width: 200px;
  flex: 1;
  padding: 30px;
}
